* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;


}

body {
    background-color: rgb(29, 28, 28);
    color: whitesmoke;
    overflow: hidden;
    overflow-y: scroll;
}
:root{
    --first-color:hsl(271,76%,53%);
    --title-color:hsl(0,0%,40%);
    --text-color: hsl(0,0%,50%);
    --body-color:hsl(0,0%,100%);
    --container-color:hsl(0,0%,93%) ;
    --border-color:hsl(0,0%,87%);
    --text-white:#fff;
}